<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="Test relevance judgments" content="Test">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% block css %}
    {% endblock %}

  </head>
  <body>
    <section class="hero is-white">
      <nav class="nav">
        <div class="nav-left">
          <a href="/" class="nav-item">
            <h6 class="subtitle">
              <strong>RJ</strong>
            </h6>
          </a>
        </div>
     </nav>
    </section>


	{% block content %}
    {% endblock %}


	<footer class="footer">
	  <div class="container">
		<div class="content has-text-centered">
		  <p>
				<p>Ivan Meza & Carlos Mena, Copyright 2017</p>
		  </p>
		</div>
	  </div>
	</footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	{% block js %}
    {% endblock %}

  </body>
</html>

