{% extends "default.html" %}
{% block content %}
<section class="hero is-primary is-bold is-large">
	<div class="hero-body">
		<div class="columns is-mobile">
  			<div class="column is-half is-offset-one-quarter">
				<h1 class="title">
				Palabras fonéticamente similares
				</h1>
				<br/>
				<h1 class="subtitle">
					Observa los siguientes pares de palabras e imagina que alguien las pronuncia
					en un ambiente con mucho ruido. ¿Crees que podrías llegar a confundir una 
					palabra con otra en un ambiente así?. Responde si o no según tu critero.
				</h1>

				<h1 class="subtitle">
					Después se te pide que imagines que estás escribiendo un poema o una 
					canción. ¿Consideras que las dos palabras riman?. Responde si o no según tu criterio.
				</h1>

				<center>
				<a class="button is-large is-inverted is-info" href="{{url_for('.eval')}}">
  					Comenzar
				</a>
				</center>
			</div>
		</div>
	</div>
</section>
{% endblock %}
